#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #solve-button {
  background-image: url(../icons/help-toolbar.svg);
}

#main-toolbar #new-game-button {
  background-image: url(../icons/new-game.svg);
}